<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lee's Car Dealer Catalog</title>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/static/css/animate.min.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/static/css/styles.css?ver=1.5.0" rel="stylesheet" type="text/css" media="screen">
    <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=zocial" media="screen">
</head>

<body>
    <div class="container" id="catalog-html-templates">
        {% block content %}
        {% endblock %}
    </div>

    <!-- javascript files -->
    <script src="/static/bootstrap/js/jquery-3.1.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
</body>
</html>
