{% extends "base.html" %}

{% block content %}
{% include "header.html" %}
<h2> Are you sure you want to delete {{dealership.name}}? </h2>

<div class="row col-md-12">
		<div class="col-md-1 pull-left">
				<form action="#" method = 'post'>
						<button type="submit" class="btn btn-danger pull-left" id="submit" type="submit">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
				</form>
		</div>

		<div class="col-md-1 pull-left">
				<form action="{{url_for('showDealerships')}}" method="cancel">
						<button class="btn btn-primary">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Cancel</button>
				</form>
		</div>
</div>

{% include "footer.html" %}

{% endblock %}
