{% extends "base.html" %}

{% block content %}
{% include "header.html" %}

<div class="row divider">
		<div class="col-md-12"></div>
</div>

<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
				<h1>Edit {{dealership.name}}</h1>
		</div>
</div>

<div class="row col-md-12">
		<div class="col-md-6 col-md-offset-1 padding-top">
				<form action="{{ url_for('editDealership',dealership_id = dealership.id)}}" method = "post">
						<div class="form-group">
								<label for="name">Name:</label>
								<input type ="text" maxlength="250" class="form-control" name="name" value="{{dealership.name }}" required>

								<label for="address">Address:</label>
								<input type ="text" maxlength="250" class="form-control" name="address" value="{{dealership.address }}" required>

								<label for="phone">Phone:</label>
								<input type ="text" maxlength="15" class="form-control" name="phone" value="{{dealership.phone }}" required>
						</div>
						<div class="padding-bottom"></div>
						<div>
								<button type="submit" class="btn btn-success pull-left" id="submit" type="submit">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
						</div>
				</form>

				<form method="cancel">
            <div class="cancel-input col-md-1">
                <button type="cancel" class="btn btn-danger pull-left" id="cancel">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
            </div>
        </form>

				<script>
						$("#cancel").on("submit", function(e) {
						e.preventDefault();
						return false;
					});
				</script>
		</div>
</div>
{% include "footer.html" %}

{% endblock %}
