<!-- Footer Section -->
<div class="row">
    <div class="col-md-12">
        <hr>
        <footer class="catalog-footer">
            <p class="pull-right"><a href="#">Back to top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a></p>
            <p Class="footer-note">Put together for Classic Car Dealers by Lee Farretta</p>
            <div id="social">
                <a href="https://twitter.com/home?status=https://github.com/udacity/responsive-images" class="zocial-twitter">Twitter</a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://github.com/udacity/responsive-images" class="zocial-facebook">Facebook</a>
                <a href="https://plus.google.com/share?url=https://github.com/udacity/responsive-images" class="zocial-googleplus">Google+</a>
                <a href="http://digg.com/submit?phase=2&url=https%3A%2F%2Fgithub.com%2Fudacity%2Fresponsive-images&title=Udacity%20nano%20course%3A%20Responsive%20Images&bodytext=Responsive%20images%20for%20your%20sites%20and%20web%20apps&topic=tech_news" class="zocial-digg">Digg</a>
            </div>
        </footer>
        <hr>
    </div>
</div>
