{% extends "base.html" %}

{% block content %}
{% include "header.html" %}
<div class="row divider">
		<div class="col-md-12"></div>
</div>

<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
				<h1>New Car</h1>
		</div>
</div>

<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
				<form action="#" method="post">
						<div class="form-group">
								<label>Name:</label>
								<input type ="text" maxlength="50" class="form-control" name="name" placeholder="Name of Car:" required>

								<label>Brand:</label>
								<input type ="text" maxlength="50" class="form-control" name="brand" placeholder="Brand of Car:" required>

								<label>Year:</label>
								<input type ="text" maxlength="4" class="form-control" name="year" placeholder="year of Car:" required>

								<label>Color:</label>
								<input type ="text" maxlength="50" class="form-control" name="color" placeholder="Color of Car:" required>

								<label>Description:</label>
								<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the course"></textarea>

								<label>Price:</label>
										<div class="input-group">
											<div class="input-group-addon">$</div>
											<input type ="text" class="form-control" maxlength="15" name="price" placeholder="Price in $" required>
										</div>

								<label>Car Type:</label>
										<div class="radio">
									  <label>
									    <input type="radio" name="type" id="type1" value="Sedan" required>Sedan
									  </label>
								</div>

								<div class="radio">
								  <label>
								    <input type="radio" name="type" id="type2" value="Sports Car" required>Sports Car
								  </label>
								</div>

								<div class="radio">
								  <label>
								    <input type="radio" name="type" id="type3" value="Coupe" required>Coupe
								  </label>
								</div>

								<div class="radio">
								  <label>
								    <input type="radio" name="type" id="type4" value="Truck" required>Truck
								  </label>
								</div>

								<button type="submit" class="btn btn-success add-car" id="submit">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Create</button>
						</div>
				</form>

				<form method="get">
						<div class="cancel-car-input col-md-1">
								<button type="submit" class="btn btn-danger pull-left" id="cancel">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
						</div>
				</form>

				<script>
						$("#cancel").on("submit", function(e) {
						e.preventDefault();
						return false;
					});
				</script>
		</div>
</div>
{% include "footer.html" %}

{% endblock %}
